
useDynLib(meboot)

export("expand.sd", "elapsedtime", "flexMeboot", "force.clt",
  "meboot", "meboot.part", "meboot.pdata.frame",    
  "null.ci", "olsHALL.b", "checkConv", "zero.ci")

importFrom("stats", 
  "approx", "coef", "embed", "frequency", "is.ts",
  "lm", "lm.fit", "qnorm", "quantile", "resid", "rnorm",
  "runif", "sd", "start", "ts")

import("dynlm")
import("nlme")
