
useDynLib(meboot)

export(expand.sd, elapsedtime, flexMeboot, force.clt,
  meboot, meboot.part, meboot.pdata.frame,    
  null.ci, olsHALL.b, slider.mts, checkConv, zero.ci)

import(dynlm)
import(nlme)
